[core]
	autocrlf = "input"
	excludesFile = ~/.gitignore_global
	longpaths = true
[user]
	name = mirror-kt
	email = me@mirror-kt.dev
	signingkey = "2B2E8E7C200B585C"
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	format = openpgp
	{{ if eq .chezmoi.os "windows" }}
	program = "C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe"
	{{ end }}
[filter "lfs"]
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[credential]
	helper = manager
	{{ if eq .chezmoi.os "linux" }}
	credentialStore = gpg
	{{ end }}
[include]
    path = .ext1.gitconfig

[ghq]
	user = "mirror-kt"

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
	plus-style = "syntax #50fa7b"
	minus-style = "syntax #ff5555"
    syntax-theme = Dracula
    navigate = true
	line-numbers = true
	side-by-side = true

[interactive]
    diffFilter = delta --color-only